globo/Api/bin/Debug/net8.0/package-lock.json
globo/Api/bin/Debug/net8.0/package.json
globo/Api/node_modules/.package-lock.json
globo/Api/node_modules/bootstrap/CHANGELOG.md
globo/Api/node_modules/bootstrap/Gruntfile.js
globo/Api/node_modules/bootstrap/LICENSE
globo/Api/node_modules/bootstrap/package.json
globo/Api/node_modules/bootstrap/README.md
globo/Api/node_modules/bootstrap/dist/css/bootstrap-theme.css
globo/Api/node_modules/bootstrap/dist/css/bootstrap-theme.css.map
globo/Api/node_modules/bootstrap/dist/css/bootstrap-theme.min.css
globo/Api/node_modules/bootstrap/dist/css/bootstrap-theme.min.css.map
globo/Api/node_modules/bootstrap/dist/css/bootstrap.css
globo/Api/node_modules/bootstrap/dist/css/bootstrap.css.map
globo/Api/node_modules/bootstrap/dist/css/bootstrap.min.css
globo/Api/node_modules/bootstrap/dist/css/bootstrap.min.css.map
globo/Api/node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.eot
globo/Api/node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.svg
globo/Api/node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf
globo/Api/node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
globo/Api/node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2
globo/Api/node_modules/bootstrap/dist/js/bootstrap.js
globo/Api/node_modules/bootstrap/dist/js/bootstrap.min.js
globo/Api/node_modules/bootstrap/dist/js/npm.js
globo/Api/node_modules/bootstrap/fonts/glyphicons-halflings-regular.eot
globo/Api/node_modules/bootstrap/fonts/glyphicons-halflings-regular.svg
globo/Api/node_modules/bootstrap/fonts/glyphicons-halflings-regular.ttf
globo/Api/node_modules/bootstrap/fonts/glyphicons-halflings-regular.woff
globo/Api/node_modules/bootstrap/fonts/glyphicons-halflings-regular.woff2
globo/Api/node_modules/bootstrap/grunt/.jshintrc
globo/Api/node_modules/bootstrap/grunt/.stylelintrc
globo/Api/node_modules/bootstrap/grunt/browsers.js
globo/Api/node_modules/bootstrap/grunt/bs-commonjs-generator.js
globo/Api/node_modules/bootstrap/grunt/bs-glyphicons-data-generator.js
globo/Api/node_modules/bootstrap/grunt/bs-lessdoc-parser.js
globo/Api/node_modules/bootstrap/grunt/bs-raw-files-generator.js
globo/Api/node_modules/bootstrap/grunt/change-version.js
globo/Api/node_modules/bootstrap/grunt/configBridge.json
globo/Api/node_modules/bootstrap/grunt/generate-sri.js
globo/Api/node_modules/bootstrap/grunt/karma.conf.js
globo/Api/node_modules/bootstrap/js/affix.js
globo/Api/node_modules/bootstrap/js/alert.js
globo/Api/node_modules/bootstrap/js/button.js
globo/Api/node_modules/bootstrap/js/carousel.js
globo/Api/node_modules/bootstrap/js/collapse.js
globo/Api/node_modules/bootstrap/js/dropdown.js
globo/Api/node_modules/bootstrap/js/modal.js
globo/Api/node_modules/bootstrap/js/popover.js
globo/Api/node_modules/bootstrap/js/scrollspy.js
globo/Api/node_modules/bootstrap/js/tab.js
globo/Api/node_modules/bootstrap/js/tooltip.js
globo/Api/node_modules/bootstrap/js/transition.js
globo/Api/node_modules/bootstrap/less/alerts.less
globo/Api/node_modules/bootstrap/less/badges.less
globo/Api/node_modules/bootstrap/less/bootstrap.less
globo/Api/node_modules/bootstrap/less/breadcrumbs.less
globo/Api/node_modules/bootstrap/less/button-groups.less
globo/Api/node_modules/bootstrap/less/buttons.less
globo/Api/node_modules/bootstrap/less/carousel.less
globo/Api/node_modules/bootstrap/less/close.less
globo/Api/node_modules/bootstrap/less/code.less
globo/Api/node_modules/bootstrap/less/component-animations.less
globo/Api/node_modules/bootstrap/less/dropdowns.less
globo/Api/node_modules/bootstrap/less/forms.less
globo/Api/node_modules/bootstrap/less/glyphicons.less
globo/Api/node_modules/bootstrap/less/grid.less
globo/Api/node_modules/bootstrap/less/input-groups.less
globo/Api/node_modules/bootstrap/less/jumbotron.less
globo/Api/node_modules/bootstrap/less/labels.less
globo/Api/node_modules/bootstrap/less/list-group.less
globo/Api/node_modules/bootstrap/less/media.less
globo/Api/node_modules/bootstrap/less/mixins.less
globo/Api/node_modules/bootstrap/less/modals.less
globo/Api/node_modules/bootstrap/less/navbar.less
globo/Api/node_modules/bootstrap/less/navs.less
globo/Api/node_modules/bootstrap/less/normalize.less
globo/Api/node_modules/bootstrap/less/pager.less
globo/Api/node_modules/bootstrap/less/pagination.less
globo/Api/node_modules/bootstrap/less/panels.less
globo/Api/node_modules/bootstrap/less/popovers.less
globo/Api/node_modules/bootstrap/less/print.less
globo/Api/node_modules/bootstrap/less/progress-bars.less
globo/Api/node_modules/bootstrap/less/responsive-embed.less
globo/Api/node_modules/bootstrap/less/responsive-utilities.less
globo/Api/node_modules/bootstrap/less/scaffolding.less
globo/Api/node_modules/bootstrap/less/tables.less
globo/Api/node_modules/bootstrap/less/theme.less
globo/Api/node_modules/bootstrap/less/thumbnails.less
globo/Api/node_modules/bootstrap/less/tooltip.less
globo/Api/node_modules/bootstrap/less/type.less
globo/Api/node_modules/bootstrap/less/utilities.less
globo/Api/node_modules/bootstrap/less/variables.less
globo/Api/node_modules/bootstrap/less/wells.less
globo/Api/node_modules/bootstrap/less/mixins/alerts.less
globo/Api/node_modules/bootstrap/less/mixins/background-variant.less
globo/Api/node_modules/bootstrap/less/mixins/border-radius.less
globo/Api/node_modules/bootstrap/less/mixins/buttons.less
globo/Api/node_modules/bootstrap/less/mixins/center-block.less
globo/Api/node_modules/bootstrap/less/mixins/clearfix.less
globo/Api/node_modules/bootstrap/less/mixins/forms.less
globo/Api/node_modules/bootstrap/less/mixins/gradients.less
globo/Api/node_modules/bootstrap/less/mixins/grid-framework.less
globo/Api/node_modules/bootstrap/less/mixins/grid.less
globo/Api/node_modules/bootstrap/less/mixins/hide-text.less
globo/Api/node_modules/bootstrap/less/mixins/image.less
globo/Api/node_modules/bootstrap/less/mixins/labels.less
globo/Api/node_modules/bootstrap/less/mixins/list-group.less
globo/Api/node_modules/bootstrap/less/mixins/nav-divider.less
globo/Api/node_modules/bootstrap/less/mixins/nav-vertical-align.less
globo/Api/node_modules/bootstrap/less/mixins/opacity.less
globo/Api/node_modules/bootstrap/less/mixins/pagination.less
globo/Api/node_modules/bootstrap/less/mixins/panels.less
globo/Api/node_modules/bootstrap/less/mixins/progress-bar.less
globo/Api/node_modules/bootstrap/less/mixins/reset-filter.less
globo/Api/node_modules/bootstrap/less/mixins/reset-text.less
globo/Api/node_modules/bootstrap/less/mixins/resize.less
globo/Api/node_modules/bootstrap/less/mixins/responsive-visibility.less
globo/Api/node_modules/bootstrap/less/mixins/size.less
globo/Api/node_modules/bootstrap/less/mixins/tab-focus.less
globo/Api/node_modules/bootstrap/less/mixins/table-row.less
globo/Api/node_modules/bootstrap/less/mixins/text-emphasis.less
globo/Api/node_modules/bootstrap/less/mixins/text-overflow.less
globo/Api/node_modules/bootstrap/less/mixins/vendor-prefixes.less
globo/Api/obj/Api.csproj.nuget.dgspec.json
globo/Api/obj/project.nuget.cache
globo/Api/obj/Debug/net8.0/Api.AssemblyInfo.cs
globo/Api/obj/Debug/net8.0/Api.AssemblyInfoInputs.cache
globo/Api/obj/Debug/net8.0/Api.assets.cache
globo/Api/obj/Debug/net8.0/Api.csproj.CoreCompileInputs.cache
globo/Api/obj/Debug/net8.0/Api.csproj.FileListAbsolute.txt
globo/Api/obj/Debug/net8.0/Api.dll
globo/Api/obj/Debug/net8.0/Api.GeneratedMSBuildEditorConfig.editorconfig
globo/Api/obj/Debug/net8.0/Api.genruntimeconfig.cache
globo/Api/obj/Debug/net8.0/Api.pdb
globo/Api/obj/Debug/net8.0/Api.RazorAssemblyInfo.cache
globo/Api/obj/Debug/net8.0/Api.RazorAssemblyInfo.cs
globo/Api/obj/Debug/net8.0/Api.sourcelink.json
globo/Api/obj/Debug/net8.0/apphost.exe
globo/Api/obj/Debug/net8.0/staticwebassets.build.json
globo/Api/obj/Debug/net8.0/staticwebassets.development.json
globo/Api/obj/Debug/net8.0/staticwebassets.pack.json
globo/Api/obj/Debug/net8.0/ref/Api.dll
globo/Api/obj/Debug/net8.0/refint/Api.dll
globo/Api/bin/Debug/net8.0/Api.dll
globo/Api/bin/Debug/net8.0/Api.exe
globo/Api/bin/Debug/net8.0/Api.pdb
